#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.frame {
    display: flex;
    align-items: center;
    height: 50%;
    width: 60%;
    border: 1px solid black;
    overflow: hidden;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 300%;
    font-size: 150px;
}

.left, .right {
    height: 10rem;
    width: 5rem;
}