#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 50%;
    border: 1px solid black;
    overflow: hidden;
}

.left, .right {
    height: 10rem;
    width: 5rem;
}

.slide {
    object-fit: scale-down;
    height: 100%;
    width: 100%;
    transition: width 1s ease-in;
}

.image {
    width: 0;
}